<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Management</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/fonts/themify/themify-icons.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/fonts/elegant-font/html-css/style.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/public/vendor/slick/slick.css}">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}">

    <link type="text/css" rel="stylesheet" th:href="@{/public/vendor/bootstrap/css/bootstrap(signup).css}">
    <link type="text/css" rel="stylesheet" th:href="@{/public/vendor/bootstrap/css/bootstrap-theme.css}">
</head>
<style>
	.selected {
		background-color: #f2f2f2;
	}
</style>
<body>
    <header class="header1">
        <!-- Header desktop -->
        <div class="container-menu-header">
            <div class="topbar">
                <div class="topbar-social">
                    <a href="https://www.facebook.com/Dc.Koool" class="topbar-social-item fa fa-facebook"></a>
                    <a href="https://www.instagram.com/dckoool/" class="topbar-social-item fa fa-instagram"></a>
                    <a href="https://www.pinterest.com/" class="topbar-social-item fa fa-pinterest-p"></a>
                    <a href="https://www.youtube.com/" class="topbar-social-item fa fa-youtube-play"></a>
                </div>

                <span class="topbar-child1">
                        Miễn phí vận chuyển với đơn hàng trên 500k
                    </span>

                <div class="topbar-child2">
                        <span class="topbar-email">
                            support@cccstore.tk
                        </span>
                </div>
            </div>

            <div class="wrap_header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <img th:src="@{/public/images/icons/lg.png}" alt="IMG-LOGO">
                </a>

                <!-- Menu -->
                <div class="wrap_menu">
                    <nav class="menu">
                        <ul class="main_menu">
                            <li class="active">
                                <a href="/webBH/">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/webBH/productMgmt" >Quản Lý Sản Phẩm</a>
                            </li>

                            <li>
                                <a href="/webBH/orderMgmt" style="text-shadow: 1px 1px grey">Quản Lý Hóa đơn</a>
                            </li>

                            <li >
                                <a href="/webBH/userMgmt">Quản Lý Khách hàng</a>
                            </li>                        
                       </ul>
                    </nav>
                </div>

                <!-- Header Icon -->
                <div class="header-icons">
                    <div hidden="" id="thongtinKH" class="header-wrapicon2">
                        <img th:src="@{/public/images/icons/icon-header-01.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">
                        <!-- Header cart noti -->
                        <div class="header-cart header-dropdown">
                            <ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-txt">
										<a id="tenKH" class="header-cart-item-name font-weight-bold text-danger" th:text="${user.userName}">
											Nguyễn Văn Mạnh Cường
										</a>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-txt">
										<a id="emailKH" class="header-cart-item-name" th:text="${user.email}">
											cuongfpi1313131@gmail.com
										</a>
									</div>
								</li>
								<li class="header-cart-item">
									<div class="header-cart-item-txt">
										<a id="sdtKH" class="header-cart-item-name" th:text="${user.phone}">
											0987767216
										</a>
									</div>
								</li>
							</ul>

                            <div class="header-cart-buttons">
                                <div class="header-cart-wrapbtn">
                                    <!-- Button -->
                                    <a href="logout" class="flex-c-m size1 bg1 bo-rad-15 hov1 s-text1 trans-0-4">
                                        <button onclick="dx()">Đăng xuất</button>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button id="btndangnhap" class="header-wrapicon1 dis-block">
                        <a href="login">
                            <img th:src="@{/public/images/icons/icon-header-01.png}" class="header-icon1" alt="ICON">
                        </a>
                    </button>

                    <span class="linedivide1"></span>

                    <div class="header-wrapicon2">
                        <a th:href="cart"><img th:src="@{/public/images/icons/icon-header-02.png}" class="header-icon1 js-show-header-dropdown" alt="ICON"></a>
                        <span class="header-icons-noti" id="cart-noti">0</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container-fluid" style="padding: 2%">

		<label>THÔNG TIN ĐƠN HÀNG: </label>
        <div class="col-xs-12 border border-primary" style="padding-top:1%; padding-bottom : 1%">
            <form class="col-xs-5">
            <div class="form-row col-xs-3" hidden="">
                <label>ID: </label>
                <input id="idOrder" readonly type="text" class="form-control">
            </div>
            <div class="form-row col-xs-7">
                <label>Tài khoản: </label>
                <input id="user" readonly type="text" class="form-control">
            </div>
            <div class="form-row col-xs-5">
                <label>Ngày mua:</label>
                <input id="date" readonly type="text" class="form-control">
            </div>
            <div class="form-row col-xs-7">
                <label>Tổng tiền: </label>
                <input id="totalPrice" readonly type="text" class="form-control">
            </div>
            <div class="form-row col-xs-5" id="frameQuantity" hidden="">
                <label>Sửa số lượng: </label>
                <div class="col-xs-8">
                	<input id="quantity"  type="number" class="form-control" >
                </div>
                <div class="col-xs-2">
                	<button class="btn btn-default" id="btnEdit"><i class="fa fa-edit"></i></button>
                </div>
                <div class="col-xs-2">
                	<button class="btn btn-default" id="btnSave"><i class="fa fa-save"></i></button>
                </div>
            </div>
        </form>
        
        <div class="col-xs-7" id="placeLoad">
        <div id="reloadThis">
            <label>Danh sách các sản phẩm: </label>
            <table id="tableOrderDetail" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>ID </th>
                <th>ID sản phẩm</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
              </tr>
              </thead>
              <tbody>
              <tr th:if="${listOrderDetail != null}" th:each="ac : ${listOrderDetail}" >
                <td th:text="${ac.idDetail}">ACC1</td>
                <td th:text="${ac.idPro}">Nguyễn Văn Chiến</td>
                <td th:text="${ac.quantity}">Nam</td>
                <td th:text="${ac.price}">0794343226</td>
              </tr>
              </tbody>
            </table>
        </div>
        </div>
        </div>

        <div class="col-xs-12" style="margin-top: 2%">
        	<label>DANH SÁCH CÁC ĐƠN HÀNG: </label>
            <table id="tableOrder" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>ID</th>
                <th>Tài khoản</th> 
                <th>Ngày</th>
                <th>Tổng tiền</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="ac : ${listOrder}">
                <td th:text="${ac.idOrder}">ACC1</td>
                <td th:text="${ac.idAcc}">Nguyễn Văn Chiến</td>
                <td th:text="${ac.dateCreate}">Nam</td>
                <td th:text="${ac.totalPrice}">0794343226</td>
                <td th:text="${ac.arrODD}" hidden="">0794343226</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <th>ID</th>
                <th>Tài khoản</th> 
                <th>Ngày</th>
                <th>Tổng tiền</th>
              </tr>
              </tfoot>
            </table>
        </div>
    </div>
    
      <!-- /.box-body -->


<footer class="bg6 p-t-10 p-b-10 p-l-10 p-r-10">
    <div class="t-center p-l-15 p-r-15">
        <div class="t-center s-text8 p-t-20">
            Copyright © 2018 All rights reserved. | From CCC with <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <p id="isLogin" th:text="${isLogin}" hidden="">0</p>
        <p id="isAdmin" th:text="${user.code}" hidden="">0</p>
    </div>
</footer>

<script type="text/javascript" th:src="@{/public/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/public/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/public/vendor/bootstrap/js/popper.js}"></script>
<script type="text/javascript" th:src="@{/public/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script type="text/javascript" th:src="@{/public/vendor/select2/select2.min.js}"></script>

<script th:src="@{/public/javascripts/main.js}"></script>
<script th:inline="javascript">
$(document).ready(function(){
	$("#tableOrder tr").click(function() {
		$('#tableOrder .selected').removeClass('selected');
		$(this).addClass('selected');
		
		var idOd= $(this).find("td:eq(0)").text();
        var idAcc= $(this).find("td:eq(1)").text();
        var date= $(this).find("td:eq(2)").text();
        var total= $(this).find("td:eq(3)").text();
        var arr = $(this).find("td:eq(4)").text();
        
        $("#idOrder").val(idOd);
        $("#date").val(date);
        $("#user").val(idAcc);
        $("#totalPrice").val(total);
        
        $.ajax({
	        type: "post",
	        url: "/webBH/fillODDTable",  
	        data:{ idOrder: idOd, chien : "chien"},
	        success: function(){
	        	console.log("send success to server");
	        	//location.reload();
	        	$("#placeLoad").load("orderMgmt #reloadThis");
	        },
	        error: function(){      
	         alert('Error while request..');
	        }
		});
       
    });
	
	if($("#isLogin").text()=="ok"){
		$("#thongtinKH").removeAttr('hidden');
		$("#btndangnhap").attr('hidden', 'true');
	}else {
		$("#btndangnhap").removeAttr('hidden');
		$("#thongtinKH").attr('hidden', 'true');
	}
	
});
</script>
</body>
</html>