<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<head>
	<title>Sản phẩm</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" th:href="@{/public/images/icons/favicon.png}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/fonts/themify/themify-icons.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/fonts/elegant-font/html-css/style.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/vendor/animate/animate.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/vendor/select2/select2.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/vendor/slick/slick.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/vendor/noui/nouislider.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/public/stylesheets/main.css}">
</head>
<body class="animsition">
	<input type="text" name="" th:value="${cmd}" hidden="true" id="cmd">
	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<div class="container-menu-header">
			<div class="topbar">
				<div class="topbar-social">
					<a href="https://www.facebook.com/Dc.Koool" class="topbar-social-item fa fa-facebook"></a>
					<a href="https://www.instagram.com/dckoool/" class="topbar-social-item fa fa-instagram"></a>
					<a href="https://www.pinterest.com/" class="topbar-social-item fa fa-pinterest-p"></a>
					<a href="https://www.youtube.com/" class="topbar-social-item fa fa-youtube-play"></a>
				</div>

				<span class="topbar-child1" id="km">
					Miễn phí vận chuyển với đơn hàng trên 500k
				</span>

				<div class="topbar-child2">
					<span class="topbar-email">
						support@cccstore.tk
					</span>
				</div>
			</div>

			<div class="wrap_header">
				<!-- Logo -->
				<a th:href="@{/}" class="logo">
					<img th:src="@{/public/images/icons/lg.png}">
				</a>

				<!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li style="text-shadow: 1px 1px grey">
								<a th:href="@{/}">Trang chủ</a>
							</li>

							<li>
								<a href="cart">Giỏ hàng</a>
							</li>

							<li>
								<a href="https://www.facebook.com/">Liên hệ</a>
							</li>

							<li id="pageManager">
								<a href="userMgmt">Quản lý</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Header Icon -->
				<div  class="header-icons">
					<div hidden="" id="thongtinKH" class="header-wrapicon2">
						<img th:src="@{/public/images/icons/icon-header-01.png}" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<!-- Header cart noti -->
						<div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">
								<li class="header-cart-item">
									<div class="header-cart-item-txt">
										<a id="tenKH" class="header-cart-item-name font-weight-bold text-danger" th:text="${user.userName}">
											Nguyễn Văn Mạnh Cường
										</a>
									</div>
								</li>

								<li class="header-cart-item">
									<div class="header-cart-item-txt">
										<a id="emailKH" class="header-cart-item-name" th:text="${user.email}">
											cuongfpi1313131@gmail.com
										</a>
									</div>
								</li>
								<li class="header-cart-item">
									<div class="header-cart-item-txt">
										<a id="sdtKH" class="header-cart-item-name" th:text="${user.phone}">
											0987767216
										</a>
									</div>
								</li>
							</ul>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="logout" class="flex-c-m size1 bg1 bo-rad-15 hov1 s-text1 trans-0-4">
										<button style="color:white" >Đăng xuất</button>
									</a>
								</div>

							</div>
						</div>
					</div>

					<button id="btndangnhap" class="header-wrapicon1 dis-block" >
						<a href="Login">
							<img th:src="@{/public/images/icons/icon-header-01.png}" class="header-icon1" alt="ICON">
						</a>
					</button>

					<span class="linedivide1"></span>

					<div class="header-wrapicon2">
						<a href="cart"><img th:src="@{/public/images/icons/icon-header-02.png}" class="header-icon1 js-show-header-dropdown" alt="ICON"></a>
						<span class="header-icons-noti" id="cart-noti" th:text="${quantity}"></span>
					</div>
				</div>
			</div>
		</div>
		
	</header>

	<!-- Slide1 -->
	<section class="slide1">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1 item1-slick1" th:style="'background-image: url(public/images/c21.jpg);'">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text2 t-center animated visible-false m-b-15" data-appear="fadeInDown" style="color: white;">
							Siêu xe thống lĩnh mọi thị trường
						</span>

						<h2 class="caption2-slide1 xl-text4 t-center animated visible-false m-b-37" data-appear="fadeInUp" style="color: white;">
							Lamborghini Aventador
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
							<!-- Button -->
							<a id="banner11" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4" th:href="@{/product-detail(idPro=C21)}">
								Mua ngay
							</a>
						</div>
					</div>
				</div>

				<div class="item-slick1 item2-slick1" th:style="'background-image: url(public/images/c22.jpg);'">
					<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
						<span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15" data-appear="rollIn" style="color: #efe48f;">
							Xứng danh ông hoàng tốc độ
						</span>

						<h2 class="caption2-slide1 xl-text4 t-center animated visible-false m-b-37" data-appear="lightSpeedIn" style="color: #efe48f;">
							Bugatti Chiron
						</h2>

						<div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
							<!-- Button -->
							<a id="banner22" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4" th:href="@{/product-detail(idPro=C22)}">
								Mua ngay
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
					<div class="leftbar p-r-20 p-r-0-sm">
						<!--  -->
						<h4 class="m-text14 p-b-7">
							Danh mục
						</h4>

						<ul class="p-b-54">
							<li class="p-t-4">
								<a th:href="@{/}" class="s-text13 active1" id="car">
									Ô tô
								</a>
							</li>

							<li class="p-t-4">
								<a href="phukien" class="s-text13" id="phukien">
									Phụ kiện
								</a>
							</li>

							<li class="p-t-4">
								<a href="phukien" class="s-text13" id="phutùng">
									Phụ tùng
								</a>
							</li>
						</ul>

						<!--  -->
						<h4 class="m-text14 p-b-32">
							Lọc
						</h4>

						<div class="filter-price p-t-22 p-b-50 bo3">
							<div class="m-text15 p-b-17">
								Theo giá
							</div>

							<div class="wra-filter-bar">
								<div id="filter-bar"></div>
							</div>

							<div class="flex-sb-m flex-w p-t-16">
								<form action="/webBH/searchPrice" id="formtimkiem">
								<div class="w-size11">
									<input type="text" id="lower" name="lower" hidden="true" value="0">
									<input type="text" id="upper" name="upper" hidden="true" value="10000000">
									<input type="text" id="cm" name="cmd" hidden="true" value="">
									<!-- Button -->
									<button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4" type="submit" onclick="search()">
										Tìm
									</button>
								</div>

								<div class="s-text3 p-t-10 p-b-10">
									Trong khoảng: <span id="value-lower">610</span>$ - <span id="value-upper">980</span>$
								</div>
								</form>
							</div>
						</div>

						<div class="search-product pos-relative bo4 of-hidden">
							<input id="txtSearch" class="s-text7 size6 p-l-23 p-r-50" type="text" name="search-product" placeholder="Tìm sản phẩm...">

							<button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4" id="btnSearch">
								<i class="fs-12 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">

					<!-- Product -->
					<div class="row row_product">
						<div class="col-sm-12 col-md-6 col-lg-4 p-b-50" id="boxstart" th:each="pros : ${dsPro}">
							<!-- Block2 -->
							<div class="block2">
								<input type="text" name="" id="idPro" th:value="${pros.idPro}" hidden="true">
								<div class="block2-img wrap-pic-w of-hidden pos-relative">
									<img class="vcl" th:src="@{${pros.urlImage}}" alt="IMG-PRODUCT" id="img_sp_1">

									<div class="block2-overlay trans-0-4">
									

										<div class="block2-btn-addcart w-size1 trans-0-4">
											<!-- Button -->
											<button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" id="btn_addCart">
												Thêm vào giỏ
											</button>
										</div>
									</div>
								</div>

								<div class="block2-txt p-t-20">
									<a th:href="@{/product-detail(idPro=${pros.idPro})}" class="block2-name dis-block s-text3 p-b-5" id="name_sp" th:text="${pros.namePro}">
									</a>

									<span class="block2-price m-text6 p-r-5" id="price_sp_1" aria-valuetext="1" th:text="${pros.price}">
									</span>
								</div>
							</div>
						</div>
					</div>

					<!-- Pagination -->
					<div class="pagination flex-m flex-w p-t-26">
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
							
					</div>
				</div>
			</div>
		</div>
	</section>


	<footer class="bg6 p-t-10 p-b-10 p-l-10 p-r-10">
		<div class="t-center p-l-15 p-r-15">
			<div class="t-center s-text8 p-t-20">
				Copyright © 2018 All rights reserved. | From CCC with <i class="fa fa-heart-o" aria-hidden="true"></i>
			</div>
		</div>
        <p id="isLogin" th:text="${isLogin}" hidden>0</p>
        <p id="isAdmin" th:text="${user.code}" hidden>0</p>
	</footer>

	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>

	<script type="text/javascript" th:src="@{/public/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" th:src="@{/public/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" th:src="@{/public/vendor/bootstrap/js/popper.js}"></script>
	<script type="text/javascript" th:src="@{/public/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" th:src="@{/public/vendor/select2/select2.min.js}"></script>
	<script type="text/javascript">
		$(".selection-1").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});

		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect2')
		});
		var cmd = $("#cmd").val();
		$(function () {
			if(cmd=='product'){
				$("#car").attr('class', 's-text13 active1');
				$("#phukien").attr('class', 's-text13');
				$("#phutung").attr('class', 's-text13');
			}
			if(cmd=='phukien'){
				$("#car").attr('class', 's-text13');
				$("#phukien").attr('class', 's-text13 active1');
				$("#phutung").attr('class', 's-text13');
			}
			if(cmd=='phutung'){
				$("#car").attr('class', 's-text13');
				$("#phukien").attr('class', 's-text13');
				$("#phutung").attr('class', 's-text13 active1');
			}
		});

		if($("#isLogin").text()=="ok"){
			$("#thongtinKH").removeAttr('hidden');
			$("#btndangnhap").attr('hidden', 'true');
		}else {
			$("#btndangnhap").removeAttr('hidden');
			$("#thongtinKH").attr('hidden', 'true');
		}

		if($("#isAdmin").text()=="ADM"){
			$("#pageManager").removeAttr('hidden');			
		}else {
			$("#pageManager").attr('hidden', 'true');
		}
	</script>
<!--===============================================================================================-->
	<script type="text/javascript" th:src="@{/public/vendor/daterangepicker/moment.min.js}"></script>
	<script type="text/javascript" th:src="@{/public/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" th:src="@{/public/vendor/slick/slick.min.js}"></script>
	<script type="text/javascript" th:src="@{/public/javascripts/slick-custom.js}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" th:src="@{/public/vendor/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js}"></script>
	<script type="text/javascript">
		
		//Format tiền 
        function formatNumber(num) {
		  return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')+" $"
		}

		$('.block2-price').each(function() {
			var price = Math.round($(this).text());
			var f = formatNumber(price);
			$(this).text(f);
		});
		

		$('.block2-btn-addcart').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
            var price = $(this).parent().parent().parent().find('.block2-price').attr('aria-valuetext');
            var image = $(this).parent().parent().parent().find('.vcl').attr('src');
            //var image = document.getElementById('img_sp_1').src;
			$(this).on('click', function(){
			    swal(nameProduct, "Đã thêm vào giỏ hàng !", "success");
                var idPro = $(this).parent().parent().parent().find('#idPro').val();
                $.ajax({
		            url: '/webBH/addCart',
		            type: 'post',
		            dataType: 'html',
		            data: {
			            idPro:idPro
		            },
		            success: function(data){
			        	$('#cart-noti').text(data);
		        	}
		        });
			});
		});

		$("#btnSearch").click(function(event) {
			/* Act on the event */
			var keyword = $("#txtSearch").val();
			var cmd = $("#cmd").val();
			window.location.href = "/webBH/searchKeyword?keyword="+keyword+"&cmd="+cmd;
		});

		function search() {
			var up = $('#value-upper').text();
			var low = $('#value-lower').text();
			var cmd = $("#cmd").val();
			$('#upper').attr('value',up);
			$('#lower').attr('value',low);
			$('#cm').attr('value',cmd);
        }
	</script>

<!--===============================================================================================-->
	<script type="text/javascript" th:src="@{/public/vendor/noui/nouislider.min.js}"></script>
	<script type="text/javascript">
		/*[ No ui ]
	    ===========================================================*/
	    var filterBar = document.getElementById('filter-bar');
	    var sPageURL = window.location.search.substring(1);
	    var sURLVariables = sPageURL.split('&');
	    
	    var cmd = $("#cmd").val();
	    if(cmd=='product'){

	    	var low = 10000;
		    var up = 300000; 
		    for (var i = 0; i < sURLVariables.length; i++) {
		        var sParameterName = sURLVariables[i].split('=');
		        if (sParameterName[0] == 'lower') {
		            low = sParameterName[1];
		        }
		        if (sParameterName[0] == 'upper') {
		            up = sParameterName[1];
		        }
		    }

	    	noUiSlider.create(filterBar, {
	        start: [ low, up ],
	        connect: true,
	        range: {
	            'min': 10000,
	            'max': 300000
	        }
	    	});
	    }
	    if(cmd=='phukien'){

	    	var low = 1;
		    var up = 1000; 
		    for (var i = 0; i < sURLVariables.length; i++) {
		        var sParameterName = sURLVariables[i].split('=');
		        if (sParameterName[0] == 'lower') {
		            low = sParameterName[1];
		        }
		        if (sParameterName[0] == 'upper') {
		            up = sParameterName[1];
		        }
		    }

	    	noUiSlider.create(filterBar, {
	        start: [ 1,1000 ],
	        connect: true,
	        range: {
	            'min': 1,
	            'max': 1000
	        }
	    	});
	    }
	    

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]) ;
	    });
	</script>
<!--===============================================================================================-->
	<script th:src="@{/public/javascripts/main.js}"></script>
</body>
</html>
